body{
    background-color: #05262D;
    color: #F6F09C;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: justify;
    line-height: 1.3;
}

main{
    margin: 1.5rem 2.25rem 1.5rem 2.25rem;
}

header, footer, .hello{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.hi{
    margin-bottom: -1rem; 
    margin-top: 2rem;
    font-size: 2em; 
    text-decoration: underline; 
}

.ilove{
    outline-style: 1px solid;
    outline-color: #FFE44B;
    box-shadow: 3px 3px 10px 2px #fadc32;
    margin-bottom: 2.5rem;
}

p{
    margin: 1.5rem 2.25rem 1.5rem 2.25rem;
}
h1{
    color: #b4f7f3;
    text-shadow: 3px 3px 10px #FFE44B;
    background-color:  #A1E3D840;
    font-size: 4.5em;
    margin-bottom: -1.25rem;
}

.foryou{
    background-color:#FFE44B30;
}

ol li{
    list-style-type: decimal;
    padding-left: 20px;
}

h3{ 
    color: #A1E3D8;
    border: 4px dashed #FFE44B;
    box-shadow:  2px 2px 8px 3px #8eeee9;
    max-width: fit-content;
    padding: 0.5rem;
}

footer > p{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
